* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(6, 230, 136, 0.712);
}

div {
  border: 1px solid black;
}